html {
  background-image: url('http://i.imgur.com/A7u8IOx.gif');
  /*background-color: #D3D3D3;*/
  background-size: cover;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  height: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
}

.title {
  color: white;
  font-family: "Lato", sans-serif;
}

md-card {
  width: 60%;
  height: 50%;
  text-align: center;
}

h2 {
  text-align: center;
}

h1 {
  text-align: center;
  font-family: "Lato", sans-serif;
}
